

/* BG classes */
.bg-green{
    background-color:green;
}

.bg-red{
    background-color:red;
}


/* Text classes */
 .text-red {
    color:red;
}


/* MArgin classes */

.mt-10{
    margin-top:10px;
}

.mt-20{
    margin-top:20px;
}

.ml-40{
    margin-left: 40px;
}

.display-big{
    font-size:50px;
}


.h1{
    font-size:20px;
}

.h2{
    font-size:16px;
}


.d-flex{
    display:flex;
}

.flex-column{
    flex-direction:column;
}


.mt-1{
    margin-top: 10px;
}


.bg-success{
    background-color:green;
}


.align-items-center{
    align-items: center;
}


.text-center{
    text-align: center;
}