* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 107px;
    padding: 30px;
    /* display: none; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(134, 134, 134, 0.397);
}

.logo-content {
    display: flex;
    align-items: center;
}

.logo-content img {
    margin-right: 8px;
}

.logo-content h1 {
    font-size:var(--largeFontSize);
    letter-spacing: -4%;
    font-weight: 500;
    font-family: var(--logoFont);
    transition: all .2s;
}


.logo-content h1:hover {
    transform: skewX(20deg);
}

/* Nav bar */
.navbar ul {
    display: flex;
}

.navbar li {
    font-size: 18px;
    letter-spacing: -2%;
    font-weight: 500;
    position: relative;
}

.navbar li:hover .box-submenu {
height: 300px;
padding: 10px;

}

.navbar li:hover .box-submenu li {
    /* display: block; */
    visibility: visible;

}

.ham-menu{
    background-color: transparent;
    border:none;
    transition: all .2s;
    cursor: pointer;
    display: none;
}

.ham-menu:hover{
    transform: scale(.95);
}


.box-submenu{
    width: 200px;
    height: 0;
    background-color: rgb(211, 211, 211);
    box-shadow:  0 0 2px .2 rgba(0, 0, 0, 0.527);
    position: absolute;
    transition: all 0.3s;

}

.box-submenu li{
    /* display: none; */
    visibility: hidden;
}







.navbar li:not(:first-child) {
    margin-left: 40px;
}

.navbar li:last-child {
    font-weight: 700;
}

.navbar li:last-child a:hover {
    color: #fff;
    background-color: var(--colorMainGreen) ;
}

.navbar li a {
    padding:10px;
    transition:all .2s;
    color: var(--colorMainBlack) ;
}

.navbar a:hover{
    color: var(--colorMainGreen);
}
.navbar li:last-child a {
    color:  var(--colorMainGreen)
}




.responsive-box{
    height: 400px;
    background-color:orangered
}


.about-content{
    display: flex;
    flex-wrap: wrap;
    padding:50px;
    justify-content:space-between;
}

.about-content-info{
    flex: 50%;
}
.about-content-image{
    flex:50%;
    height: 400px;
}

.about-content-image img{
    width:100%;
    height:100%;
    object-fit:cover;

}


.about-content-info h3{
    font-size:40px;
    font-weight: bold;
    margin-bottom:14px;
}

.about-content-info p{
    font-size:18px;
    line-height:1.4;
    letter-spacing: 1px;
}
